

:host ::ng-deep .choices { 
    list-style-position: outside;
    margin-left: 15px;
    margin-bottom: 5px;
    list-style-type: disc;
    padding-left: 0;
    padding-bottom: 0;
  }

  :host ::ng-deep li.choice { 
    list-style-type: disc;
    margin-left: 0;
    position: relative;
    margin: 0;
    margin-bottom: 0;
  } 

  :host ::ng-deep li.choice  span{ 
    position: relative;
    left: -5px;
  } 

.message {
    padding: 8px 16px;
    position: relative;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #3C4043;
    letter-spacing: 0.2px;
    line-height: 20px;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
    p{
        margin: 10px 0;
        
    }

    .title{
        font-weight: 500; 
    }

    .text-holder{
        white-space: pre-wrap;
        overflow-wrap: break-word; 
    }

    .eliminate{
      cursor: pointer;
      display: block;
      background-color: #FFF;
      border: 1px solid #ccc;
      border-radius: 8px;  
      padding: 5px;
      margin: 2px 0;
    }

    .eliminate:hover, .eliminate:active{
        background-color: #F8F8F8;
    }
}

.message.to {
    background: #F1F3F4;
    margin: 10px 20px 10px 40px;
    border-radius: 8px 0 8px 8px;
    font-size: 14px;
    color: #3C4043;
    letter-spacing: 0.2px;
    text-align: right;
    line-height: 20px;
    display: inline-block;
    margin-left: 100px;
}

.message.to:after{
    content: "";
    background: #F1F3F4;
    width: 12px;
    height: 24px;
    position: absolute;
    right:-10px;
    top: 0;
    display: block;
    background-image: url("/assets/ellipse.svg");
    background-position-x: 2px;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 24px 48px;

}


.message.from:before{
    content: "";
    background: #E8F0FE;
    width: 12px;
    height: 24px;
    position: absolute;
    left:-10px;
    top: 0;
    display: block;
    background-image: url("/assets/ellipse.svg");
    background-position-x: -14px;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 24px 48px;
    display: inline-block;
}


.message.temp {
    background: #F1F3F4;
    margin: 10px 20px 10px 40px;
    border-radius: 8px 8px 8px 8px;
    font-size: 14px;
    color: #3C4043;
    letter-spacing: 0.2px;
    text-align: right;
    line-height: 20px;
    display: inline-block;
    background-image: url("/assets/sending.svg");
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 12px;
    width: 60px;
}


.message.from {
    border-radius: 0 8px 8px 8px;
    background: #E8F0FE;
    color: #3C4043;
    margin: 10px 40px 10px 50px;
    padding-bottom: 8px 16px;
    text-align: left;
}


.audio{
    position: absolute;
    right: 10px;
    bottom: 0;
}

.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}


.bot-avatar{
    height: 0;
    text-align: left;
    color: #666;
    img{
        height: 24px;
        display: inline-block;
        position: relative;
        top: 0;
        margin-left: 16px;
    }
    position: relative;
    top: 10px;
}

.identity{
    background-color: #f0f0f0f0;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}


.speaker{
    width: 22px;
    height: 18px;
    padding-right: 5px;
}