<div class="bot-avatar"><img src="assets/headset.svg"></div>
<div class="message accordian-holder">
    <p class="accordian-title">Here are recommended actions</p>
    <ng-container *ngFor="let item of items">
        
        <div class="accordian">
            <button (click)="show_text($event)">
                <span  class="material-icons">keyboard_arrow_up</span>
            </button>
            <div class="text-holder">
                
                <p class="title">{{item.title}}</p>
                <p class="subtitle">{{item.subtitle}}</p>
                <p class="text" [innerHTML]="item.text | declorateLinks" ></p>
            </div>
        </div> 
    </ng-container> 
</div>
