.message {
    padding: 15px 20px;
    position: relative;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #3C4043;
    letter-spacing: 0.2px;
    line-height: 20px;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    

    .text-holder{
        white-space: pre-wrap;
        overflow-wrap: break-word; 
    }
}

.message.quick {
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    border-radius: 24px;
    font-family: "Google Sans";
    font-size: 14px;
    color: #3C4043;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 10px;
    margin-top: 5px;
}

.message.quick:hover, .message.quick:active{
    background-color: #F8F8F8;
}